<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhibai.ai.mapper.RebateRecordMapper">

    <resultMap id="BaseResultMap" type="com.zhibai.ai.model.domain.RebateRecordDO">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="inviterId" column="inviter_id" jdbcType="BIGINT"/>
            <result property="inviterName" column="inviter_name" jdbcType="BIGINT"/>
            <result property="shopType" column="shop_type" jdbcType="TINYINT"/>
            <result property="shopTitle" column="shop_title" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="rebateLevel" column="rebate_level" jdbcType="TINYINT"/>
            <result property="rebateRatio" column="rebate_ratio" jdbcType="DECIMAL"/>
            <result property="rebateAmount" column="rebate_amount" jdbcType="DECIMAL"/>
            <result property="feature" column="feature" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,gmt_create,gmt_modified,
        version,user_id,inviter_id,
        inviter_name,shop_type,shop_title,
        price,rebate_level,rebate_ratio,
        rebate_amount,feature
    </sql>

    <select id="countByUserId" parameterType="java.lang.Long" resultType="java.lang.Integer">
        select
            count(*)
        from rebate_record
        where user_id = #{userId,jdbcType=BIGINT}
    </select>

    <select id="totalRebateAmount" parameterType="java.lang.Long" resultType="java.math.BigDecimal">
        select
            ifnull(sum(rebate_amount), 0)
        from rebate_record
        where user_id = #{userId,jdbcType=BIGINT}
    </select>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.zhibai.ai.model.domain.RebateRecordDO" useGeneratedKeys="true">
        insert into rebate_record
        ( user_id,inviter_id,inviter_name,shop_type,shop_title
        ,price,rebate_level,rebate_ratio,rebate_amount)
        values (#{userId,jdbcType=BIGINT},#{inviterId,jdbcType=BIGINT}
        ,#{inviterName,jdbcType=BIGINT},#{shopType,jdbcType=TINYINT},#{shopTitle,jdbcType=VARCHAR}
        ,#{price,jdbcType=DECIMAL},#{rebateLevel,jdbcType=TINYINT},#{rebateRatio,jdbcType=DECIMAL}
        ,#{rebateAmount,jdbcType=DECIMAL})
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.zhibai.ai.model.domain.RebateRecordDO">
        update rebate_record
        <set>
            <if test="version != null">
                version = version + 1,
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="inviterId != null">
                inviter_id = #{inviterId,jdbcType=BIGINT},
            </if>
            <if test="inviterName != null">
                inviter_name = #{inviterName,jdbcType=BIGINT},
            </if>
            <if test="shopType != null">
                shop_type = #{shopType,jdbcType=TINYINT},
            </if>
            <if test="shopTitle != null">
                shop_title = #{shopTitle,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="rebateLevel != null">
                rebate_level = #{rebateLevel,jdbcType=TINYINT},
            </if>
            <if test="rebateRatio != null">
                rebate_ratio = #{rebateRatio,jdbcType=DECIMAL},
            </if>
            <if test="rebateAmount != null">
                rebate_amount = #{rebateAmount,jdbcType=DECIMAL},
            </if>
            <if test="feature != null">
                feature = #{feature,jdbcType=OTHER},
            </if>
        </set>
        where   id = #{id,jdbcType=BIGINT} 
    </update>
</mapper>
